
<h2>Title</h2>
<p><%= @book.title %></p>
<h2>Body</h2>
<p><%= @book.body %></p>

<%= link_to "Show", book_path(@book) %>

<%= link_to "Edit", edit_book_path(@book) %>

<%= link_to "Destroy", @book, method: :delete, data: { confirm: "Are you sure?" } %>